<div class="container mt-3">
  <h1>Registration Form</h1>
  <form (ngSubmit)="submitForm(formData)" #formData="ngForm">
    <div ngModelGroup="userData">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name"
        name="name" [(ngModel)]="defaultName"
        required #name="ngModel">
        <span class="error-message" *ngIf="name.invalid && name.touched">Name is required</span>
        <br>
        {{defaultName}}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required email #email="ngModel">
        <span class="error-message" *ngIf="email.invalid && email.touched && email.errors?.['required']">Email is required</span>
        <span class="error-message" *ngIf="email.invalid && email.touched && email.errors?.['email']">Email is invalid</span>
  
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number:</label>
        <input type="number" class="form-control" id="phone" name="phone" ngModel required>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Gender:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male" name="gender" ngModel>
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female" name="gender" ngModel>
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
    <div class="mb-3">
      <label for="hobbies" class="form-label">Hobbies:</label>
      <select class="form-select" id="hobbies" aria-label="Hobbies" name="hobbies" ngModel>
        <option value="">Select Hobby</option>
        <option value="reading">Reading</option>
        <option value="sports">Sports</option>
        <option value="music">Music</option>
        <option value="coding">Coding</option>
      </select>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" ngModel>
      <label class="form-check-label" for="remember_me">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Submit</button>
  </form>
  <div class="mt-3">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="setValue()">Set Value</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="patchValue()">Patch Value</button>
      </div>
    </div>
  </div>
</div>